{% extends 'default/base.html.twig' %}

{% block banner %}
    <div class="banner-top">
        <div class="container">
            <h1>Register</h1>
            <em></em>
            <h2><a href="/">Home</a><label>/</label>Register</h2>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    <!--login-->
    {{ dump() }}
    <div class="container">
        <div class="login">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-notice" style="color: #31b131">
                    <h3>{{ message }}</h3>
                </div>
            {% endfor %}
                <div class="col-md-6 login-do">
                    {{ form_start(form) }}
                    <div class="login-mail">
                        {{ form_row(form.username) }}
                        {#<i class="glyphicon glyphicon-user"></i>#}
                    </div>
                    <div class="login-mail">
                        {{ form_row(form.email) }}
                        {#<i class="glyphicon glyphicon-envelope"></i>#}
                    </div>
                    <div class="login-mail">
                        {{ form_row(form.plainPassword.first) }}
                        {#<i class="glyphicon glyphicon-envelope"></i>#}
                    </div>
                    <div class="login-mail">
                        {{ form_row(form.plainPassword.second) }}
                        {#<i class="glyphicon glyphicon-lock"></i>#}
                    </div>
                    <label class="hvr-skew-backward">
                        <input type="submit" value="Submit">
                    </label>
                    {{ form_end(form) }}

                </div>
                <div class="col-md-6 login-right">
                    <h3>Completely Free Account</h3>

                    <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus
                        tincidunt tempus aliquam, odio
                        libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum.
                        Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac
                        lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
                    <a href="" class="hvr-skew-backward">Login</a>

                </div>

                <div class="clearfix"></div>
        </div>

    </div>
{% endblock content %}